#footer {
    width: 100%;
    float: left;
    position: relative;
}

.container {
    min-width: 980px;
    max-width: 980px;
    padding-right: 0;
    padding-left: 0;
}

.footer {
    background-color: #051B71;
    font-size: 14px;
    color: #ffffff;
}

.bp-footer__list {
    padding: 0 15px;
}

.bp-border__right {
    border-right: 1px solid #3750ad;
}

.bp-border__bottom {
    border-bottom: 1px solid #3750ad;
}

.bp-list__picto {
    width: 260px;
    display: block;
    line-height: 20px;
}

.footer-picto {
    display: inline;
    float: left;
    width: 16%;
}

.footer-picto img {
    padding-top: 5px;
}

.bp-footer__descr a {
    color: #ffffff !important;
    text-decoration: none;
    background-color: transparent;
}

.bp-footer__descr:hover {
    cursor: pointer;
    text-decoration: underline;
}

.bp-footer__content, .bp-footer__content a {
    color: #ffffff !important;
}

.bp-footer__content a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.lh-30 {
    line-height: 30px;
}

.bp-logo__footer {
    cursor: pointer;
}

.bp-footer__maxWidth {
    max-width: 22% !important;
}

.bp-footer__listPadding {
    padding: 0 75px;
    font-size: 14px;
}

.bp-footer__network {
	margin-top: 40px;
}

.list-inline-item:not(:last-child) {
    margin-right: 1.5rem !important;
}

.bp-footer__button {
	background-color: #ffffff !important;
	border: solid 1px #000000 !important;
	margin: 12px;
}

.li_no_hover:hover {
	background-color: transparent !important;
}

.bp-footer__button:hover {
	background-color: #ccc !important;
}

.bp-footer__buttonText {
	color: #000000 !important;
}